.friendList {
    border: 1px solid var(--color-black);
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
