.friendList {
    border: 1px solid var(--color-black);
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 10px;
}
.item {
    padding: 4px;
    background: linear-gradient(var(--color-blue), var(--color-green));
    position: relative;
    border: 1px dashed;
}
.status {
   display: block;
   position: absolute;
   top: 4px;
   right: 4px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: var(--color-red);
}
.status.online {
    background-color: var(--color-green);
}
.avatar {
   margin: 10px 0;
}
.name {
   text-align: center;
   font-size: 18px;
   font-weight: 600;
}