.statistics {
    border: 1px solid var(--color-black);
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 6px;
    overflow: hidden;
}
.title {
    text-align: center;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}
.statList {
    display: flex;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.label, .percentage {
    font-size: 16px;
    color: var(--color-white);
    padding: 5px;
}
.percentage {
    font-size: 20px;
    font-weight: 700;
}