.transactionHistory {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse; 
}
.transactionRowHead {
  font-size: 26px;
  background-color: var(--color-primary-text);
  color: var(--color-blue);
}
.transactionBodyRow:nth-child(2n) {
  background-color: var(--color-secondary-text);
}
.transactionBodyTd,
.transactionTh {
  border: 1px solid black;
  text-align: center;
}